/*Style css du Site Torque*/

* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

/*DESIGN MOBILE FIRST*/
#wrapper {
    width: 100%;
    background-color: black;
}

/*DEBUT HEADER*/
/* Barre de navigation */
#mobile-nav {
    width: 100%;
}

.responsive-menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* On cache la barre de nav */
.responsive-menu {
    display: none;
}

/* On crée une classe que le javascript insérera au moment où l'utilisateur cliquera sur le menu hamburger */
.expand {
    display: block !important
}

/* Styles menu hamburger */
.menu-btn {
    border: 1px solid #FFF;
    border-bottom: none;
    background: linear-gradient(to top right, grey 0%, black 100%);
    padding: 0.5em;
}

.menu-btn:hover, #recherche:hover, a, #list-iles label:hover, .accordeon-btn:hover {
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 8px 0;
}

.responsive-menu li {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top right, grey 0%, black 100%);
    text-align: center;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.responsive-menu li:first-child {
    border-top: 1px solid #FFF;
}

.responsive-menu li:last-child {
    border: none;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.responsive-menu ul > li > a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.responsive-menu ul > li > a:hover {
    background-color: cyan;
    cursor: pointer;
}

a:active {
    background-color: purple;
}

a:visited {
    color: magenta;
}

/*FIN HEADER*/

/*DEBUT INDEX*/

/*FIN INDEX*/

/*DEBUT MOTOS*/

/*FIN MOTOS*/

/*DEBUT LOG IN*/

/*FIN LOG IN*/

/*DEBUT FOOTER*/
footer {
    border: 1px solid #FFF;
}

footer p {
    text-align:center;
    color:#FFF;
}

footer li h4 {
    text-decoration:underline;
    color:#FFF;
}

footer > div > ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    text-align: center;
}

footer li h4 {
    text-decoration: underline;
}

footer ul a {
    text-decoration: none;
    color: #FFF;
}

#social {
    display: flex;
    justify-content: space-around;
}

.fleche {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #FFF;
    opacity: 0.4;
}

/*FIN FOOTER*/

/*Grille version mobile*/
/* On cible tous les éléments ayant un attribut class qui contiennent col- pour la version mobile */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.row:after {
    content: ""; /*On crée un espace vide*/
    clear: both; /*On stoppe l'effet de float pour éviter que les éléments suivants remontent*/
    display: block; /*Force un retour à la ligne*/
}

/*VERSION TABLETTE*/
@media only screen and (min-width: 768px) {

    .menu-btn {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .responsive-menu li {
        display: inline-block;
        width: 25%;
        margin-left: -4.30px;
        border-bottom: none;
        border-right: none;
        border-top: 1px solid #FFF;
    }

    .responsive-menu li:nth-child(1) {
        border-left: 5px solid #FFF;
    }

    .responsive-menu li:last-child {
        border-top: 1px solid #FFF;
    }

    #social {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    /*Grille version tablette*/
    /* On définit les classes pour chaque largeur de colonne pour la version tablette */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

/*VERSION DESKTOP*/
@media only screen and (min-width: 992px) {

    /*Grille version desktop*/
    /* On définit les classes pour chaque largeur de colonne pour la version desktop */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}







