/*Style css du Site Torque*/
#wrapper {
    width: 100%

}

/*Banner*/
header div img {
    max-width: 100%;
}

/*Navigation toolbar*/
header ul li, footer ul li {
    list-style: none;
}

header ul a,footer ul a {
    text-decoration: none;
}

/* On définit les classes pour chaque largeur de colonne pour la version desktop */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.row:after {
    content: ""; /*On crée un espace vide*/
    clear: both; /*On stoppe l'effet de float pour éviter que les éléments suivants remontent*/
    display: block; /*Force un retour à la ligne*/
}

/* Styles version tablette */
@media only screen and (max-width: 992px) {

    /* On définit les classes pour chaque largeur de colonne pour la version tablette */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

/* Styles version mobile */
@media only screen and (max-width: 768px) {

    /* On cible tous les éléments ayant un attribut class qui contiennent col- pour la version mobile */
    [class*="col-"] {
        width: 100%;
    }
}