/*Style css du Site Tork*/

* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

/*Style des input*/
input {
    border-radius: 5px;
}

input:focus, textarea:focus {
    background-color: cornflowerblue;
    outline: none;
}

/*DESIGN MOBILE FIRST*/
#wrapper {
    width: 100%;
    background-color: #000;
}

/*DEBUT HEADER*/

header img[alt*="Logo du site"] {
    height: 120px;
    width: auto;
    border: 3px solid grey;
    border-radius: 45%;

}

header img[alt*="Image du Like"] {
    height: 75px;
    width: auto;
    align-self: flex-end;
}

header > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Barre de navigation */
#mobile-nav {
    width: 100%;
}

.responsive-menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* On cache la barre de nav */
.responsive-menu {
    display: none;
}

/* On crée une classe que le javascript insérera au moment où l'utilisateur cliquera sur le menu hamburger */
.expand {
    display: block !important
}

/* Styles menu hamburger */
.menu-btn {
    border: 1px solid #FFF;
    border-bottom: none;
    background: linear-gradient(to top right, grey 0%, black 100%);
    padding: 0.5em;
}

.menu-btn:hover, #recherche:hover, a, .accordeon-btn:hover, input[type="submit"]:hover, input[type="reset"]:hover, #ninja button:hover {
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 8px 0;
}

.responsive-menu li {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top right, grey 0%, black 100%);
    text-align: center;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.responsive-menu li:first-child {
    border-top: 1px solid #FFF;
}

.responsive-menu li:last-child {
    border: none;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.responsive-menu ul > li > a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.responsive-menu ul > li > a:hover {
    background-color: cyan;
    cursor: pointer;
}

a:active {
    background-color: purple;
}

a:visited {
    color: magenta;
}

/*FIN HEADER*/

/*DEBUT INDEX*/

#index {
    padding: 1em;
}

/* SLIDER */
#overflow {
    width: 100%;
    overflow: hidden;
}

.figure img {
    width: 100%;
    border: 5px solid grey;
    border-radius: 10px;
}

.container-figure {
    width: 300%;
}

.figure {
    float: left;
    max-width: 33.33%;
    position: relative;

}

.figure p {
    margin: -4.85em auto;
    opacity: 0.7;
    width: 100%;;
    font-family: 'Black Ops One', cursive;
}

#active {
    text-align: center;
}

#active label {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: linear-gradient(darkslategrey, darkred);
    border-radius: 50%;
}

#active label:hover {
    cursor: pointer;
}

#container-slideshow > input {
    display: none;
}

#slide1:checked ~ #slideshow .container-figure {
    margin-left: 0;
}

#slide2:checked ~ #slideshow .container-figure {
    margin-left: -100%;
}

#slide3:checked ~ #slideshow .container-figure {
    margin-left: -200%;
}

#slideshow .container-figure {
    transition: all 1s ease;
}

.figure p {
    position: absolute;
}

/*FIN SLIDER*/

#index section {
    margin: 3em 0;
}

#presentation {
    background: linear-gradient(black, darkred);
    border: 5px solid grey;
    border-radius: 10px;
}

#index h2 {
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}

#index p {
    color: whitesmoke;
    font-size: 120%;
    text-align: center;
}

/* FIN SLIDER */
/*FIN INDEX*/

/*DEBUT MOTOS*/
#motos ul, #cruiser ul, #sport ul, #offroad ul {
    padding-left: 0;
}

#motos ul li {
    list-style: none;
    margin: 3em 0;
}

#motos h2 {
    font-size: 150%;
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

#motos ul li a {
    text-decoration: none;
}

#motos img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    border: 5px solid grey;
    border-radius: 20px;
}

/*FIN MOTOS*/

/*DEBUT LIKE*/

/*FIN LIKE*/

/*DEBUT PRODUITS */

#cruiser, #sport, #offroad {
    padding: 1em;
}

#cruiser ul li, #sport ul li, #offroad ul li {
    border: 5px solid grey;
    padding: 1em;
    margin: 3em 0;
    border-radius: 15px;
    background: linear-gradient(black, darkred);
}

#cruiser h2, #cruiser h4, #sport h2, #sport h4, #offroad h2, #offroad h4 {
    font-size: 150%;
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
    margin: 0 auto;
}

#cruiser img, #sport img, #offroad img {
    display: block;
    margin: 1em auto;
    border: 3px solid grey;
    border-radius: 15px;
}

#cruiser p, #sport p, #offroad p {
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
    font-size: 120%;
    text-align: left;
}

#cruiser p span, #sport p span, #offroad p span {
    font-size: 125%;
    color: grey;
}

/*FIN PRODUITS*/

/*DEBUT DETAIL NINJA */

#ninja {
    padding: 1em;
}

#ninja img {
    box-shadow: 10px 10px 5px darkolivegreen;
}

#ninja h4, #ninja p {
    color: whitesmoke;
    font-family: "Black Ops One", cursive;
    font-size: 120%;
}

#ninja h3 {
    color: darkolivegreen;
    font-family: "Black Ops One", cursive;
    font-size: 150%;
}

#ninja button {
    background: linear-gradient(black, darkred);
    font-size: 105%;
    color: whitesmoke;
    height: 50px;
    border-radius: 30%;
    font-family: "Black Ops One", cursive;
}

/*FIN DETAIL NINJA*/

/* DEBUT FORM ACHAT*/

/* FIN FORM ACHAT*/

/*DEBUT CONTACT */
#contact fieldset {
    background: linear-gradient(grey, black);
    border: none;
}

#contact h2 {
    color: #fff;
    text-decoration: underline;
}

#contact label {
    color: #fff;
    width: 100%;
    display: block;
    margin: 0.5em auto;
    text-decoration: underline;
}

#contact input:nth-of-type(-n+3), #contact textarea {
    width: 100%;
    height: 50px;
    margin: 0.5em auto;
}

#contact input[type="submit"], input[type="reset"] {
    background: linear-gradient(black, grey);
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
}

#contact textarea {
    height: 100px;
}

#contact input:nth-of-type(n+4) {
    display: block;
    margin: 0.5em auto;
    height: 50px;
}

#contact form div {
    margin: 1em auto;
    width: 100%;
}

iframe {
    display: block;
    width: 20em;
    height: 20em;
    border: 5px solid grey;
    margin: auto;
}

/* Classe pour les sections invalids du formulaire */
#contact .invalid {
    border-radius: 5px;
    background-color: burlywood;
    border: 1px solid red;
}

/* Classe pour les messages de validation */
#contact .msg_validation {
    font-weight: bolder;
}

/*FIN CONTACT */

/*DEBUT FOOTER*/
footer {
    border: 1px solid #FFF;
}

footer p {
    text-align: center;
    color: #FFF;
}

footer li h4 {
    text-decoration: underline;
    color: #FFF;
}

footer > div > ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    text-align: center;
}

footer li h4 {
    text-decoration: underline;
}

footer ul a {
    text-decoration: none;
    color: #FFF;
}

#social {
    display: flex;
    justify-content: space-around;
}

.fleche {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #FFF;
    opacity: 0.4;
}

/*FIN FOOTER*/

/*Grille version mobile*/
/* On cible tous les éléments ayant un attribut class qui contiennent col- pour la version mobile */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.row:after {
    content: ""; /*On crée un espace vide*/
    clear: both; /*On stoppe l'effet de float pour éviter que les éléments suivants remontent*/
    display: block; /*Force un retour à la ligne*/
}

/*VERSION TABLETTE*/
@media only screen and (min-width: 768px) {

    header > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-btn {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .responsive-menu li {
        display: inline-block;
        width: 25%;
        margin-left: -4.30px;
        border-bottom: none;
        border-right: none;
        border-top: 1px solid #FFF;
    }

    .responsive-menu li:nth-child(1) {
        border-left: 5px solid #FFF;
    }

    .responsive-menu li:last-child {
        border-top: 1px solid #FFF;
    }

    #social {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #contact label {
        color: #fff;
        width: 100%;
        display: block;
        margin: 0.5em auto;
        text-decoration: underline;
    }

    #contact input:nth-of-type(-n+3), #contact textarea {
        width: 25%;
        height: 50px;
        margin: 0.5em auto;
    }

    #contact input:nth-of-type(n+4) {
        display: block;
        margin: 0.5em 0;
        height: 50px;
    }

    #contact form div {
        margin: 1em 0;
        width: 50%;
    }

    iframe {
        display: block;
        width: 20em;
        height: 20em;
        border: 5px solid grey;
        margin: 0;
    }

    /*Grille version tablette*/
    /* On définit les classes pour chaque largeur de colonne pour la version tablette */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

/*VERSION DESKTOP*/
@media only screen and (min-width: 992px) {

    /*Grille version desktop*/
    /* On définit les classes pour chaque largeur de colonne pour la version desktop */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}







